<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Alan's Birthday</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}" type="text/css">
    <link rel="icon" type="image/x-icon" href="/static/lion.jpg">
  </head>
  <body class="bg-light">
    <nav class="navbar navbar-light navbar-expand">
        <img id="logo" src="{{ url_for('static',filename='lion.jpg') }}">
        <div class="dropdown" id="nav1">
            <button class="dropbtn navbtn">Public Information</button>
            <div class="dropdown-content">
              <a href="/">Home</a>
              <a href="/publicBoard">Public Board</a>
              <a href="/createWallet">Create Your Own Wallet</a>
              <a href="/code">Code</a>
              <a href="/discordBot">Currency Bot</a>
            </div>
        </div>
        <div class="dropdown" id="navLast">
            <button class="dropbtn navbtn">Banking</button>
            <div class="dropdown-content">
              <a href="/transfer">Transfer Money</a>
              <a href="/getBalance">Get Balance</a>
              <a href="/getTransactionHistory">Get Transaction History</a>
              <a href="/encryptMessage">Encrypt Message</a>
              <a href="/decryptMessage">Decrypt Message</a>
            </div>
        </div>
    </nav>
    <div class="body">
        <h1 id="pageName">Adam's Currency Bot</h1>
        <p>You can add the Discord Bot to your own Discord servers by clicking on this link: <a href="https://discord.com/api/oauth2/authorize?client_id=970366640980127785&permissions=268667904&scope=bot">Currency Bot</a>.</p>
    </div>
    <p class="summary footer">
        Thank you for viewing my website!<br>
        This is a for fun project I made for me and my friends<br>
        Website made by Adam
    </p>
  </body>
</html>