<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Alan's Birthday</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}" type="text/css">
  </head>
  <body class="bg-light">
    <nav class="navbar navbar-light navbar-expand">
        <img id="logo" src="{{ url_for('static',filename='lion.jpg') }}">
        <div class="dropdown" id="nav1">
            <button class="dropbtn navbtn">Public Information</button>
            <div class="dropdown-content">
              <a href="/">Home</a>
              <a href="/publicBoard">Public Board</a>
              <a href="/createWallet">Create Your Own Wallet</a>
              <a href="/code">Code</a>
              <a href="/discordBot">Currency Bot</a>
            </div>
        </div>
        <div class="dropdown" id="navLast">
            <button class="dropbtn navbtn">Banking</button>
            <div class="dropdown-content">
              <a href="/transfer">Transfer Money</a>
              <a href="/getBalance">Get Balance</a>
              <a href="/getTransactionHistory">Get Transaction History</a>
              <a href="/encryptMessage">Encrypt Message</a>
              <a href="/decryptMessage">Decrypt Message</a>
            </div>
        </div>
    </nav>
    <div class="body">
        <h1 id="pageName">Get Your Wallet's Balance</h1>
            <form action="/getBalance" method="post">
              <label for="senderid">Your Wallet ID:</label><br>
              <input type="number" id="senderid" name="senderid" placeholder="senderid" /><br>
              <br>
              <label for="signkey">Your Private Key for Digital Signature:</label><br>
              <textarea id="signkey" name="signkey" placeholder="signkey" rows=10 cols=75>-----BEGIN RSA PRIVATE KEY-----</textarea><br>
              <br>
              <button type="submit">Get Balance</button>
            </form>
            <br>
    </div>
    <p class="summary footer">
        Thank you for viewing my website!<br>
        This is a for fun project I made for me and my friends<br>
        Website made by Adam
    </p>
  </body>
</html>